*, body {
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
}

input:focus, button:focus {
    border: none;
    outline: none;
}

.d-flex {
    display: flex;
}

@import './utilities/variable';
@import './utilities/mixin';

// layout
@import './layout/layout';

// pages
@import './pages/login/main';
@import './pages/uac/main';