.el-main {
    margin-left: 14em;

    .body-container {
        padding: 30px 35px;
    }

    .pagi-info {
        font-size: 14px;
        color: #6d7278;
        padding: 2em 0;
    }

    .create-filter {
        list-style-type: none;
        display: inline-flex;
        padding: 1.5em 0;
        width: 100%;

        li {
            width: 33.3333%;
            text-align: right;
        }

        .create-user-btn {
            padding: 6px 20px 6px 20px;
            text-transform: uppercase;
            border-radius: 4px;
            border: solid 1px $main_color;
            background-color: $main_transp_color;
            color: $main_color;
            font-size: 14px;
        }

        .sort-by {
            color: #6d7278;
            font-size: 12px;
            line-height: 2em;
            text-align: right;

            .sorted {
                color: $main_color;
                font-weight: normal;
            }
        }

        img {
            width: 1.8em;
            margin-right: 3em;
            cursor: pointer;
        }
    }
}