.form-filter {
    padding: 2.5em;

    .filter-button {
        @include large-button($main_gradiant_color, $white)
    }

    .clear p {
        text-align: right;
        @include font-style(14px, #ff0000);
        margin: 20px 0;
        cursor: pointer;
    }

    .line {
        text-align: center;
    }
}

.el-drawer__open .el-drawer.rtl {
    &:focus {
        outline: none;
    }
}