.login {
    .login-bg {
        background-image: url('~@/assets/bg_login.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

        .overlay {
            position: relative;
            height: 100vh;
            background-color: #1cbdb461;

            h3 {
                width: 343px;
                position: absolute;
                top: 33%;
                left: 27%;
                font-size: 78px;
                font-weight: bold;
                color: $white;
            }
        }
    }

    .login-form {
        text-align: left;
        max-width: 500px;
        margin: auto;
        margin-top: 255px;
        padding: 10px;

        h3 {
            color: $main_color;
            font-size: 42px;
            font-weight: bold;
        }

        .login-contact {
            margin: 10px 0 30px;
            color: $secondary_color;

            strong {
                color: $main_color;
            }
        }

        .form-input {
            display: flex;

            input {
                border: none;
                border-radius: 4px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                margin-bottom: 30px;
                padding: 20px 20px 20px 22px;
                width: 100%;
                font-size: 18px;
            }
        }

        .forget-password {
            text-align: right;
            font-size: 14px;
            margin-bottom: 20px;
            color: $secondary_color;
            cursor: pointer;
        }

        .login-button {
            @include large-button($main_gradiant_color, $white);
        }
    }
}