@mixin large-button($bg-color, $color) {
    padding: 20px 139px 20px;
    border-radius: 4px;
    background-image: $bg-color;
    width: 100%;
    border: none;
    color: $color;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

@mixin header-icons($width, $height, $mr) {
    width: $width;
    height: $height;
    margin-right: $mr;
    cursor: pointer;
}

@mixin font-style($size, $color, $style: 'normal') {
    font-size: $size;
    font-weight: $style;
    color: $color;
}