$main_color: #1cbdb4;
$secondary_color: #00000080;
$main_gradiant_color: linear-gradient(to right, #8ff379, #1cbdb4);

$white: #ffffff;
$text_color: #1cbdb4;

$main_transp_color: rgba(28, 189, 180, 0.2);